.example-container {
  border: 1px solid #555;
  background: #ddd7d7;
  min-height: calc(100vh - 64px);
}

.drawers {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .butt {
    display: flex;
    width: 80%;
    background-color: #bdc5bd;
    color: black;
    margin-top: 5px;
  }
}

.drawer-content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;


  .tab {
    width: 95%;
    padding: 5px;
  }
}


