<footer class="footer py-5" data-bs-theme="dark">
  <div class="container">
    <div class="border-bottom text-center pb-4">
      <a
        class="navbar-brand d-inline-flex text-nav py-0 mb-3 mb-md-4"
        routerLink="/"
      >
        <span class="text-primary flex-shrink-0 me-2">
        <img width="50"
             src="assets/img/landing/conference/gallery/Logo.png" alt="Image"/>
  </span>
        <span class="text-light opacity-90 fs-3">Best solutions</span>
      </a>

      <ul class="nav justify-content-center py-1 pb-sm-2">
      @for (item of catalog; track item.name) {
        <li class="nav-item">
          <a class="nav-link py-2 px-3 mx-1 catalog fw-bolder" href="{{ item.url }}"
          >{{ item.name }}</a
          >
        </li>
      }
      </ul>

    </div>

    <div
      class="d-sm-flex align-items-center justify-content-between pt-4 mt-2 mt-sm-0"
    >
      <div class="d-flex justify-content-center order-sm-2 mb-4 mb-sm-0">
        <a
          class="btn btn-icon btn-sm btn-secondary btn-facebook rounded-circle me-3"
          href="javascript:void(0);"
          aria-label="Facebook"
        >
          <i class="ai-facebook"></i>
        </a>
        <a
          class="btn btn-icon btn-sm btn-secondary btn-instagram rounded-circle me-3"
          href="javascript:void(0);"
          aria-label="Instagram"
        >
          <i class="ai-instagram"></i>
        </a>
        <a
          class="btn btn-icon btn-sm btn-secondary btn-youtube rounded-circle"
          href="javascript:void(0);"
          aria-label="YouTube"
        >
          <i class="ai-youtube"></i>
        </a>
      </div>
      <p class="nav fs-sm order-sm-1 text-center mb-0">
        <span class="text-body-secondary"
        >&copy; All rights reserved!</span
        >
      </p>
    </div>
  </div>
</footer>
