<header class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <app-component-logo-box [className]="'pe-sm-3'" />

    <button
      class="btn btn-md fs-sm order-lg-3 d-none d-lg-inline-flex but-con"
      :href="/landings/conference"
      target="_blank"
      rel="noopener"
    >
      Contacts
    </button>

    <app-vertical-menu-button [catalog]="catalog" class="btn-sm"></app-vertical-menu-button>

    <nav
      class="collapse navbar-collapse"
      #collapse="ngbCollapse"
      [ngbCollapse]="!isMenuCollapsed"
      id="navbarNav"
    >
      <app-horizontal-app-menu [catalog]="catalog"></app-horizontal-app-menu>
    </nav>
  </div>
</header>
