<section class="pb-md-2 pt-lg-2 pb-lg-4 py-xl-4 py-xxl-5" style="background-color: #f6f9fc">
  <div class="container py-5">
    <h2 class="h1 text-center pb-sm-2 py-md-3 mt-sm-2 mb-lg-4">Technologies used</h2>
    <ngx-simplebar class="mb-4 mb-lg-5 pb-3 px-3">
      <div class="row row-cols-lg-4 flex-nowrap flex-lg-wrap gy-lg-5 mx-n3">
        @for (item of allSponsoredDetail; track item.name) {
          <div class="col" style="min-width: 225px">
            <img
              class="d-block mb-2 mb-lg-2"
              src="{{ item.dark_logo}}"
              alt="Logo"
              style="height: 40px"
            />
            <p class="mb-2" style="color: #858c97">
              {{ item.description }}
            </p>
          </div>
        }
      </div>
    </ngx-simplebar>
  </div>
</section>
