<mat-card appearance="outlined">
  <mat-card-content>

    <span>UPDATE ID:</span>

    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="element.description"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Photo</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>

  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="updateTechnologies(element)">Ok</button>
    <button mat-button>Cancel</button>
  </mat-card-actions>

</mat-card>
